{{- range $serviceName, $service := .Values.services }}
{{- if $service.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $serviceName }}
  labels:
    app: {{ $serviceName }}
spec:
  type: {{ $service.type | default "ClusterIP" }}
  selector:
    app: {{ $serviceName }}
  ports:
  - port: {{ $service.servicePort }}
    targetPort: {{ $service.port }}
    protocol: TCP
{{- end }}
{{- end }}