apiVersion: apps/v1
kind: Deployment
metadata:
  name: adservice
  labels:
    app: adservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adservice
  template:
    metadata:
      labels:
        app: adservice
    spec:
      containers:
      - name: adservice
        image: europe-west1-docker.pkg.dev/microservices-gke-486922/microservices/adservice:v1
        ports:
        - containerPort: 9555
        env:
        - name: PORT
          value: "9555"
        resources:
          requests:
            cpu: 100m
            memory: 180Mi
          limits:
            cpu: 300m
            memory: 300Mi
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000