apiVersion: apps/v1
kind: Deployment
metadata:
  name: cartservice
  labels:
    app: cartservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cartservice
  template:
    metadata:
      labels:
        app: cartservice
    spec:
      containers:
      - name: cartservice
        image: europe-west1-docker.pkg.dev/microservices-gke-486922/microservices/cartservice:v1
        ports:
        - containerPort: 7070
        env:
        - name: ASPNETCORE_HTTP_PORTS
          value: "7070"
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis
              key: redis-password
        - name: REDIS_ADDR
          value: "redis-master:6379,password=$(REDIS_PASSWORD)"
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 300m
            memory: 128Mi
        livenessProbe:
          tcpSocket:
            port: 7070
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 7070
          initialDelaySeconds: 10
          periodSeconds: 10
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000