apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendationservice
  labels:
    app: recommendationservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendationservice
  template:
    metadata:
      labels:
        app: recommendationservice
    spec:
      containers:
      - name: recommendationservice
        image: europe-west1-docker.pkg.dev/microservices-gke-486922/microservices/recommendationservice:v1
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: PRODUCT_CATALOG_SERVICE_ADDR
          value: "productcatalogservice:3550"
        resources:
          requests:
            cpu: 50m
            memory: 220Mi
          limits:
            cpu: 100m
            memory: 450Mi
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532